<footer>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#footer-navbar-collapse"
              aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://libraries.mit.edu">
          <%= image_tag('mitlib-wordmark.svg') %>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="footer-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="https://libraries.mit.edu">Home</a></li>
          <li><a href="https://libraries.mit.edu/hours">Hours & locations</a></li>
          <li><a href="https://libraries.mit.edu/borrow">Borrow & request</a></li>
          <li><a href="https://libraries.mit.edu/about">About the Libraries</a></li>
          <li>
            <%= render partial: 'shared/help' %>
          </li>
          <li><a href="https://libguides.mit.edu/gis">GIS at MIT</a></li>
          <li><a href="https://libraries.mit.edu/accessibility">Accessibility</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
