<footer>
  <nav class="navbar navbar-expand-md navbar-inverse navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="https://libraries.mit.edu">
        <%= image_tag 'mitlib-wordmark.svg', alt: 'MIT Libraries logo' %>
      </a>

      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#footer-navbar-collapse" aria-controls="footer-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="footer-navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="https://libraries.mit.edu">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="https://libraries.mit.edu/hours">Hours & locations</a></li>
          <li class="nav-item"><a class="nav-link" href="https://libraries.mit.edu/borrow">Borrow & request</a></li>
          <li class="nav-item"><a class="nav-link" href="https://libraries.mit.edu/about">About the Libraries</a></li>
          <li>
            <%= render partial: 'shared/help' %>
          </li>
          <li class="nav-item"><a class="nav-link" href="https://libguides.mit.edu/gis">GIS at MIT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
