<div id="top-navbar">
  <div class="container">
    <%= link_to 'https://libraries.mit.edu' do %>
      <%= image_tag "mitlib-wordmark.svg", height: "35px", alt: "MIT Libraries logo" %>
    <% end %>
  </div>
</div>
