#top-navbar {
  background: #111 image-url("vi-shape7-tp.svg") no-repeat 0 65%;
  padding: 10px 4%;
  color: #fafafa;
}

#header-navbar {
  background-color: #222;
  .navbar-brand {
    background: transparent;
    width: 250px
  }
  .navbar-collapse {
    .navbar-nav {
      li {
        a {
          color: #fafafa;
          &:hover {
            text-decoration: underline;
            color: #fafafa;
          }
        }
      }
    }
  }
}

#search-navbar {
  background-color: #595959;
  .search-query-form {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.category-block .category-icon {
  font-size: 2.5em;
  color: #AAA;
}

footer {
  background-color: #111;
  margin-top: 60px;
  .navbar-inverse {
    background: #111 image-url("vi-shape7-tp.svg") no-repeat 10% center;
    border: none;
  }
  .navbar-brand {
    img {
      max-height: 30px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      li {
        a {
          color: #fafafa;
          &:hover {
            text-decoration: underline;
            color: #fafafa;
          }
        }
      }
    }
  }
}

#featured-searches {
  .panel-body {
    padding: 0;
    h3 {
      margin-left: 15px;
    }
    img {
      width: 100%;
    }
  }
}

.btn-wrap {
  white-space: normal !important;
}
