#header-navbar {
  .navbar-brand {
    padding: 13px;
    background: transparent;
    width: 270px;
  }

  .navbar-nav a {
    color: #FFF;
  }

  .navbar-nav a:hover {
    color: #bbb;
  }
}

.navbar-default {
  background-color: #fff;
  border: none;
}


#search-navbar .search-query-form {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.category-block .category-icon {
  font-size: 2.5em;
  color: #AAA;
}
